<div class="main-content">
    <div class="row">
        <div class="col-lg-9">
            {{> content}}

            <div class="row justify-content-center">
                <div class="col-md-9">
                    {{> comments}}
                    {{> other}}
                    
                </div>
            </div>
            {{> footer}}
        </div>

        <div class="col-lg-3">

            <div class="container pt-6">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        {{> ads/square}}
                    </div>
                </div>
            </div>

            {{!-- <section class="sticky-sidebar-2" style="margin-top: 200px">
                    {{> ads/square}}
                </section> --}}


            {{!-- <section style="margin-top: 500px">
                {{> ads/square}}
            </section>

            <section style="margin-top: 800px">
                {{> ads/square}}
            </section> --}}
        </div>
    </div>
</div>