<div class="main-content">
    <div class="row">
        <div class="col-lg-9">
            {{> content}}
        </div>

        <div class="col-lg-3">
            <div data-spy="affix">
                <section class="slice slice-lg" data-offset-top="#header-main" style="padding-top: 147.188px;">
                    {{> ads/square}}
                </section>

                <section style="margin-top: 200px">
                    {{> ads/square}}
                </section>
            </div>

            {{!-- <section style="margin-top: 500px">
                {{> ads/square}}
            </section>

            <section style="margin-top: 800px">
                {{> ads/square}}
            </section> --}}
        </div>
    </div>
    {{> other}}
</div>