{{!-- header section of the blog, title and author --}}
<section class="slice slice-lg" data-offset-top="#header-main" style="padding-top: 150px;">
    <div class="container pt-6">
        <div class="row justify-content-center">
            <div class="col-md-9">
                {{> ads/banner}}
                <br>
                <h1 class="lh-150 mb-3">I Want to Fall In Love with You - come to me on a journey.</h1>
                <p class="lead text-muted mb-0">A wonderful naration from miss Gaturi.</p>
                <div class="media align-items-center mt-5">
                    <div><a href="#" class="avatar rounded-circle mr-3"><img alt="Image placeholder"
                                src="../../assets/img/writers/wanjiku.jpg"></a></div>
                    <div class="media-body"><span class="d-block h6 mb-0">Gaturi Wanjiku</span> <span
                            class="text-sm text-muted">5 Aug 2019</span></div>
                </div>

            </div>
        </div>
    </div>
</section>

{{!-- contents section of the blog --}}

<section class="slice">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <article>
                    <p class="lead">I want to fall in love with you. Maybe I’m not there right now. In point of fact, I
                        am not there now because I haven’t met you yet. I want to let you know In advance that I have
                        difficulties construing my feelings sometimes, when everything I feel is so resolute. I want to
                        be sure it’s love, before I make any promises. But I can promise you this: I want to fall in
                        love with you because you will be the one I have been waiting for and the one who was meant for
                        me.</p>
                    <p class="lead">I want falling in love with you, and loving you to be the feeling that will make me
                        understand life, past heartbreaks, the crushes I didn’t act upon…. up until the moment that I
                        will meet you.</p>
                    {{!-- <h5>First thing you need to do</h5> --}}
                    {{> ads/banner}}
                    <figure class="figure"><img alt="Image placeholder"
                            src="../../assets/img/theme/light/img-3-800x600.jpg" class="img-fluid rounded">
                        <figcaption class="mt-3 text-muted">Figure one: </figcaption>
                    </figure>
                    <p class="lead">I pray, that it is a promise I will make in my heart. Noiseless, Vocal,
                        Indestructible either by distance, space and time. I hope it is the feeling of knowing that I
                        will totally and absolutely matter to someone else other than my parents and my sisters. I hope
                        we shall have the courage to show it to each other, and to act it out, loving out loud.</h5>
                        <figure class="figure"><img alt="Image placeholder"
                                src="../../assets/img/theme/light/img-4-800x600.jpg" class="img-fluid rounded">
                            <figcaption class="mt-3 text-muted">Figure two: </figcaption>
                        </figure>
                        {{> ads/banner}}
                        <p class="lead">I want it to be about feeling the callouses on your hands, or the hairs around
                            your ears, or the curve where your shoulder and neck meet, being face to cheek. I also want
                            it to be colossally about the broadness of your chest, where my head will eventually have a
                            permanent place right next to your heart.</p>

                        <p class="lead">
                            I hope it is about the firmness of your thighs and the curviness of your muscles. I want it
                            to be about clinging on your built forearms and feeling the weight of your body on and
                            against mine. I want it to be about your breath on my neck, the softness of my lips against
                            yours. I hope I use that moment to discover the places that make you laugh and the ones that
                            make you moan. I hope it will be about trust, and defenselessness, because I know that
                            sleeping next to someone not with someone renders us completely susceptible and unguarded. I
                            want that when our hard exteriors fall away in slumber, when we are soft and supple and
                            childlike will be next to each other.
                        </p>
                </article>
                <hr>

            </div>
        </div>
    </div>
</section>