<nav class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light bg-white" id="navbar-main">
    <div class="container px-lg-0">
        <!-- Logo -->
        <a class="navbar-brand mr-lg-5" href="../../index.html">
            <img alt="Image placeholder" src="../../assets/img/brand/dark.png" id="navbar-logo" style="height: 50px;">
        </a>
        <!-- Navbar collapse trigger -->
        <button class="navbar-toggler pr-0" type="button" data-toggle="collapse" data-target="#navbar-main-collapse"
            aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar nav -->
        <div class="collapse navbar-collapse" id="navbar-main-collapse">
            <ul class="navbar-nav align-items-lg-center">
                <!-- Home - Overview  -->
                <li class="nav-item ">
                    <a class="nav-link" href="../../index.html">Videos</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="../../index.html">Art</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="../../index.html">Photography</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="../../index.html">Animals</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="../../index.html">More</a>
                </li>

            </ul>

        </div>
    </div>
</nav>