<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="Purpose is a unique and beautiful collection of UI elements that are all flexible and modular. A complete and customizable solution to building the website of your dreams.">
    <meta name="author" content="Webpixels">
    <title>Purpose Website UI Kit - Purpose is a unique and beautiful collection of UI elements that are all flexible
        and modular. A complete and customizable solution to building the website of your dreams.</title>
    <!-- Favicon -->
    <link rel="icon" href="../../assets/img/brand/favicon.png" type="image/png">
    <!-- Font Awesome 5 -->
    <link rel="stylesheet" href="../../assets/libs/@fortawesome/fontawesome-free/css/all.min.css"><!-- Purpose CSS -->
    <link rel="stylesheet" href="../../assets/css/purpose.css" id="stylesheet">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-1775969418512683",
            enable_page_level_ads: true
        });
    </script>
</head>

<body>

    {{{body}}}

    <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
    <script src="../../assets/js/purpose.core.js"></script>
    <!-- Page JS -->
    <script src="../../assets/libs/autosize/dist/autosize.min.js"></script>
    <!-- Purpose JS -->
    <script src="../../assets/js/purpose.js"></script>
    <!-- Demo JS - remove it when starting your project -->
    <script src="../../assets/js/demo.js"></script>
</body>

</html>