<style>
    div.banners-desktop {
        max-width: 100%;

        background-color: rgb(0, 0, 0);
        min-height: 90px;
        min-width: 728px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<style>
    div.banners-mobile {
        max-width: 100%;

        background-color: rgb(0, 0, 0);
        min-height: 300px;
        min-width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="banners-desktop d-none d-md-block" style="">
    <p style="color: rgb(255, 255, 255);">AD</p>
</div>

<div class="banners-mobile d-sm-none" style="">
    <p style="color: rgb(255, 255, 255);">AD</p>
</div>